/* FONTS */
.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* INDEX */
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color:#f7f4ef ;
    color: #4e3b31;
}

.navhorizontal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0%;
}
.navhorizontal a{
    text-decoration: none;
    color: #4e3b31;
}
.barra{
    margin-right: 10px;
    text-align: right;
}

.contenedorlogo{
display: flex;
justify-content: center;
width: 100%;
align-items: flex-start;
background-color:#f7f4ef 
}

#logo{
width: 300px;
text-align: center;
background-color:#f7f4ef ;
}
.aside{
  text-align: left;
  list-style:none;
  text-decoration:none;
  padding: 30px;
  margin-bottom: 10%;
  background-color: #9c938a;
}
.aside li{
    color: white;
}
.aside a{
text-decoration: none;
color: white;
}

.contenedorprod{
    display:flex;
    flex-direction: row;
}
.main{
    margin-left: 5%;
}
.nuestrosproductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;    
}
.producto{
    width: 20%;
    justify-content: center;
    margin-bottom: 5%;
    padding: 20px;
}
.product p{
    text-align: justify;
    margin-bottom:10%;
    display: block;
    justify-content: center;
    text-align: justify;
}
.producto img{
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}
.producto a{
    text-decoration: none;
    font-size: 10px;
    color: #f7f4ef; 
    background-color:#735f4d;
    height: 20px;
    width: 40px;
    padding:5px;
    text-align: center;
   

    
}
.productosdestacados{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9c938a;
}

.divfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.footer p{
   color: #f7f4ef;
}
.iconos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin-top: 1%;
}
.iconos img{
    width: 40px;
    height: 30px;
}




/* CATEGORY */

.categorias{
color: #f7f4ef;
font-size: 26px;
}


/* LOGIN Y REGISTER */

a{
    text-decoration: none;
    color: #4e3b31;
}
.linkRL{
    text-decoration: underline;
    color: #333333;
}

.contenidologin{
    padding-bottom: 200px;
    text-align: center;
}
h1{
    text-align: center;
}

.contenidoregister{
    padding-bottom: 200px;
    text-align: center;
}

.titlr{
text-align: left;
}


/* PRODUCT */
.divproductjl{
    display: flex;
    flex-direction: column ;
}
.productjl{
    display: flex;
    flex-direction: row;
    padding: 20px;

}
.productjl img{
    width: 50%;
    height: auto;
    display: block;
    margin-right: 5%;
}
.infoproduct{
    display: block;
    background-color: #9c938a;
    width: 50%;
    padding: 50px;
    border-radius: 8px;
    height: fit-content;
}
.infoproduct p{
    color: white;
    margin-bottom: 6%;
    font-size: 18px;
}
.infoproduct h1{
    margin-bottom: 10%;
}
.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tags li{
    list-style: none;
    font-size: 20px;
   
}
.productreview{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.reviews{
    border-style: solid;
    border-color:#9c938a ;
    border-width: 4px;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:10px;
    background-color: rgba(156, 147, 138, 0.2);
    
}
.reviews p{
    color: #5C4A3E;
}


/* REGISTER */


/* SEARCH */

.bodySearch{
    font-family: 'montserrat';
    margin: 0%;
}

h1{
    text-align: center;
    font-weight:bold;
    text-decoration: none;
    font-size: 40px;
    color: #6b4f35;
}

h2{
    text-align: left;
    color: #8c7864;
    font-size: 32px;
}

h3{
color: #735f4d;
}

.contenedorProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;    

}

.productos{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: left;
    margin: 1%;
    color: #333333;
    justify-content: center;
    margin-bottom: 5%;
}

.fotoProducto{
    width: 100%;
    height: auto;
}

p{
 color:  #4e3b31;   
}


.avisoNoHay{
    margin-top: 50px;
    margin-bottom: 50px;
}








