/* FONTS */
.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* INDEX */
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color:#f7f4ef ;
    color: #4e3b31;
}

.navhorizontal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0%;
}
.navhorizontal a{
    text-decoration: none;
    color: #4e3b31;
}
.barra{
    margin-right: 10px;
    text-align: right;
}

.contenedorlogo{
display: flex;
justify-content: center;
width: 100%;
align-items: flex-start;
background-color:#f7f4ef 
}

#logo{
width: 300px;
text-align: center;
background-color:#f7f4ef ;
}
.aside{
  text-align: left;
  text-transform: uppercase;
  list-style:none;
  text-decoration:none;
  padding: 30px;
  margin-bottom: 10%;
  background-color: #9c938a;
}
.aside li{
    color: white;
}
.aside a{
text-decoration: none;
color: white;
}

.contenedorprod{
    display:flex;
    flex-direction: row;
}
.main{
    margin-left: 5%;
}
.nuestrosproductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;    
}
.producto{
    width: 20%;
    justify-content: center;
    margin-bottom: 5%;
    padding: 20px;
}
.product p{
    text-align: justify;
    margin-bottom:10%;
    display: block;
    justify-content: center;
    text-align: justify;
}
.producto img{
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}
.producto a{
    text-decoration: none;
    font-size: 10px;
    color: #f7f4ef; 
    background-color:#735f4d;
    height: 20px;
    width: 40px;
    padding:5px;
    text-align: center;
   

    
}
.productosdestacados{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer p{
   color: #735f4d;
}


.iconos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin-top: 1%;
}
.iconos img{
    width: 40px;
    height: 30px;
}




/* CATEGORY */



/* LOGIN */


/* PRODUCT */


/* REGISTER */


/* SEARCH */

.bodySearch{
    font-family: 'montserrat';
    margin: 0%;
}

h1{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #6b4f35;
}

h2{

    text-align: left;
    color: #8c7864;
}

h3{
color: #735f4d;
}

.contenedorProductos{
    text-align: center;
    width: 100%;
   
}

.productos{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: left;
    margin: 1%;
    color: #333333;
    justify-content: center;
    margin-bottom: 5%;
}

.fotoProducto{
    width: 100%;
    height: auto;
}

p{
 color: #999999;   
}











